body{
background:#301934; font-family:"Helvetica","Arial";
}

.navbar{
  background-color:#702963; overflow: hidden; margin:-8; margin-bottom:0; text-align:center; font-family: "Franklin Gothic", "Arial"; color:white;
}

.navbar a {
  color: white; text-align: center; text-decoration: none; font-size: 17px;
}

.navbar a.active{
  margin-left:10px; margin-right:10px;
}

.navbar a.active img{
  height:47; margin:10px;
}

.main{
  margin:20px; margin-top:170px; color:white; text-align:center;
}

.main a{
  color:aqua; font-weight:bold; text-decoration:none; width:350px; overflow:hidden;
}

.tncdisc{
  padding-top:10px; text-align:center; width:350px; margin:auto; font-size:12px;
}
.main img{
  width:150px;
}
